# Xcode

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Sensitive data or configurations
*.env

# Xcode derived data
DerivedData/

# Log files
*.log
*.crash

# Xcode build artifacts
*.xcarchive
*.app
*.framework
*.xctest

# macOS metadata files
.DS_Store

# JetBrains IDE metadata
.idea/

# Vim swap files
*.swp
*.swo
*~

# Backup files
*.bak
*.tmp

# Test outputs
*.coverage
test-output/
journalApp/Tests/
